name: CI Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      build_image:
        description: "Build & push Docker image"
        required: true
        type: boolean
        default: false
      image_tag:
        description: "Optional image tag (default = run number)"
        required: false

env:
  APP: tourly
  INFRA_REPO: your-org/voting-infra
  INFRA_BRANCH: main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'workflow_dispatch' && inputs.build_image == true) ||
      (github.event_name == 'push' && github.ref == 'refs/heads/main')
    steps:
      - uses: actions/checkout@v4

      - name: Set image tag
        run: |
          if [ -n "${{ inputs.image_tag }}" ]; then
            TAG=${{ inputs.image_tag }}
          else
            TAG=v${{ github.run_number }}
          fi
          echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV

      - name: Docker Login
        run: |
          docker login -u "${{ vars.DOCKER_USERNAME }}" -p "${{ secrets.DOCKERHUB_PASS }}"

      - name: Docker Build
        run: |
          docker build -t ${{ vars.DOCKER_USERNAME }}/${{ env.APP }}:${IMAGE_TAG} .

      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@0.28.0
        continue-on-error: true
        with:
          image-ref: ${{ vars.DOCKER_USERNAME }}/${{ env.APP }}:${IMAGE_TAG}
          severity: CRITICAL,HIGH

      - name: Push Image
        run: |
          docker push ${{ vars.DOCKER_USERNAME }}/${{ env.APP }}:${IMAGE_TAG}

  Deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout infra repo
        uses: actions/checkout@v4
        with:
          repository: ${{ env.INFRA_REPO }}
          ref: ${{ env.INFRA_BRANCH }}
          token: ${{ secrets.GIT_TOKEN }}

      - name: Update K8s manifest
        run: |
          sed -i "s|image:.*|image: ${{ vars.DOCKER_USERNAME }}/${{ env.APP }}:${IMAGE_TAG}|g" \
            k8s-specifications/${{ env.APP }}-deployment.yaml

          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -am "Update ${APP} image to ${IMAGE_TAG}"
          git push
