name: PR Check

on:
   pull_request:
  
env:
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

jobs:
  PR-Scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

    #   - name: SonarQube Scan
    #     uses: SonarSource/sonarqube-scan-action@v4.2.1

    #   - name: SonarQube Server Quality Gate check
    #     id: sonarqube-quality-gate-check
    #     uses: sonarsource/sonarqube-quality-gate-action@master
    #     with:
    #        pollingTimeoutSec: 600
    #     timeout-minutes: 8
        
      - name: OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        continue-on-error: true
        env:
           JAVA_HOME: /opt/jdk
        with:
            project: Voting_app
            path: .
            format: HTML
            out: reports
            args: >
              --failOnCVSS 7
              --enableRetired
  
      - name: Upload OWASP Report
        uses: actions/upload-artifact@v4
        with:
            name: OWASP-dependency-report
            path: reports/dependency-check-report.html

      - uses: gitleaks/gitleaks-action@v2
        continue-on-error: true

      - name: Trivy FS Scan
        uses: aquasecurity/trivy-action@0.28.0
        continue-on-error: true
        with:
          scan-type: fs
          ignore-unfixed: true
          severity: CRITICAL
          format: template
          template: "@/contrib/html.tpl"
          output: trivy-fs-report.html

      - name: Upload Trivy FS Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-fs-report
          path: trivy-fs-report.html